[submodule "themes/split"]
	path = themes/split
	url = https://github.com/pshevorska/split.git
[submodule "public"]
	path = public
	url = git@github.com-pshevorska:pshevorska/pshevorska.github.io.git
	branch = master
